# db
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres


ConnectionStrings__DefaultConnection="Server=postgres-db;Port=5432;Database=postgres;User Id=postgres;Password=postgres"

Jwt__AccessExpireMinutes="10"
Jwt__RefreshExpireDays="30"
Jwt__Issuer="example.com"
Jwt__Audience="api.example.com"
Jwt__Key="keylskjdfglksdjfgljdsbgjhghjdfghjbggskjdfshjhjbjhbdfshjbheruyuhuh"
